<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <div class="item">
          <h1 class="ui inverted header">HelloBlog</h1>
        </div>
        <div class="item">
          {{#link-to "articles" class="item"}}My Articles{{/link-to}}
          {{#link-to "authenticated" class="item"}}Authenticated{{/link-to}}
        </div>
        <div class="right item">
          <div>

            {{#link-to 'bookmarks'}}
              <div class="ui circular vertical animated button button-min-width" tabindex="0">
                <div class="visible content">
                  <i class="bookmark icon"></i>({{bookmarks.length}})
                </div>
                <div class="hidden content">Read ({{bookmarks.length}})</div>
              </div>
            {{/link-to}}

            {{#if user}}

              {{#link-to 'articles' class="white"}}
                {{user.name}} - {{user.email}}
              {{/link-to}}

              ( <a href="#" class="white" {{action "logout"}}>logout</a> )

            {{else}}

              {{#link-to 'login'}}
                <div class="ui circular vertical animated button button-min-width" tabindex="0">
                  <div class="visible content">
                    <i class="sign in icon"></i>
                  </div>
                  <div class="hidden content">Log In</div>
                </div>
              {{/link-to}}

            {{/if}}

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui container">
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    {{outlet}}
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
  </div>

</div>
