<form class="ui form">

  !{{model}}!
  {{#link-to 'user.articles.article' 1}}hello1{{/link-to}}
  {{#link-to 'user.articles.new'}}hello2{{/link-to}}

  <div class="field">
    <label>Title</label>
    {{input type="text" value=model.title placeholder="Title"}}
  </div>

  <div class="field">
    <label>Short</label>
    {{textarea value=model.short rows="2" placeholder="Short"}}
  </div>

  <div class="field">
    <label>Text</label>
    {{textarea value=model.post placeholder="Text"}}
  </div>

  <div class="field">
    <div class="ui checkbox">
      {{input type="checkbox" checked=enabled}}
      <label>I agree to the Terms and Conditions</label>
    </div>
  </div>

  <button class="ui button {{unless enabled 'disabled'}}" {{action 'save'}}>Save</button>

</form>
