<form class="ui form">

  <div class="field {{if model.error.title.validation.firstObject 'error'}}">
    <label>Title</label>
    {{input type="text" value=model.title placeholder="Title"}}
    {{error-popover errorMessage=model.error.title.validation.firstObject}}
  </div>

  <div class="field {{if model.error.short.validation.firstObject 'error'}}">
    <label>Short</label>
    {{textarea value=model.short rows="2" placeholder="Short"}}
    {{error-popover errorMessage=model.error.short.validation.firstObject}}
  </div>

  <div class="field">
    <label>Text</label>
    {{textarea value=model.post placeholder="Text"}}
  </div>

  <div class="field">
    <div class="ui checkbox">
      {{input type="checkbox" checked=enabled}}
      <label>I agree to the Terms and Conditions</label>
    </div>
  </div>

  <button class="ui primary button {{unless enabled 'disabled'}}" {{action 'save'}}>
    Save
  </button>
  {{#link-to 'user.articles' tagName='button' class='ui button'}}
    Cancel
  {{/link-to}}

</form>
